@page "/learnblazor/bindprop"
<PageTitle>Bind Property</PageTitle>
<h3>Product - Data Binding</h3>

Name: @Product.Name <br/>
Currently Active: @Product.IsActive 

@code {

    Models.Product Product = new()
    {
        Id = 1,
        Name = "Sample Product",
        IsActive = true
    };

}