@page "/learnBlazor/ParentComponent"
<h3>ParentComponent</h3>

<_ChildComponent Title="This is a Child Component in ParentComponent">
    Some text between the tags from parent component.
</_ChildComponent>


<_ChildComponent Title="This is a Child Component in ParentComponent">
    test
</_ChildComponent>
@code {
    
}