@page "/learnBlazor/ParentComponent"
<h3>ParentComponent</h3>

<_ChildComponent OnButtonClick="ChildButton" 
                 Title="This is a Child Component in ParentComponent" 
                 MessageForGrandChild="This is a message from Parent Component to Grand Child Component">
    <ChildSomeContent>
        This is a custom child content from child component rendered in Parent Component.
    </ChildSomeContent> 
    <ChildContent>
        This is a custom child content from child component rendered in Parent Component.
    </ChildContent>
    
</_ChildComponent>
<p>@messasgeText</p>
@code {
    private string messasgeText = "";
    
     private void ChildButton()
     {
         messasgeText = "This button is from child component clicked from Parent Component";
     }
}